
.main-menu{
    padding-top: 104px;
    background-color: #EEEEEF;
    padding-bottom: 120px;

    &__subtitle{
        color: #1F1F1F;
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        margin-top: 32px;
        margin-bottom: 23px ;
    }

    &__subtitle::after{
        content: "";
        display: block;
        width: 100%;
        border-bottom: 1px solid #A8A8A8;
        padding-top: 23px;
    }
}


.products{
    position: relative;
}





