.products-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 24px;

    &--item{
        margin-bottom: 32px;
        border: 1px solid #000;
        width: 306px;
        height: 512px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 32px;
        position: relative;
    }

    &--img{
        margin-left: 30px;
    }


    &--name{
        color: #1F1F1F;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px; 
        margin-top: 16px;
        margin-bottom: 0
    }
    &--name::after{
        content: "";
        display: block;
        width: 100%;
        border-bottom: 1px solid #A8A8A8;
    }

    &--under-name{
        color: #8E8E8E;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; 
        margin-top: 0;
        margin-bottom: 8px;
    }

    &__prices{
        display: flex;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        
        &--new{
            color: #E90000;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
            margin-top: 0;
            margin-bottom: 0;
        }
        
        &--old{
            color:#8E8E8E;
            text-decoration: line-through;
            margin-left: 24px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}


.badge{
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;

    &--hit{
        border-radius: 4px;
        background-color: #4200FF;
        padding: 4px 8px;
        width: 36px;
        position: absolute;
    }


    &--new{
        border-radius: 4px;
        background-color: #AF39E7;
        padding: 4px 8px;
        position: absolute;
        width: 47px;
    }

}
.badge__sale{
        border-radius: 4px;
        background-color: #EA33C0;
        padding: 4px 8px;
        width: 68px;
        color: #F8FDFE;
        font-size: 16px;
        margin: 0;
        line-height: 24px;
    
        &--hit{
            position: absolute;
            left: 70px;
        }
        &--new{
            position: absolute;
            left: 83px;
        }
    
}

.btn{
    color:  #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 16px;

    &--add{
        background-color: #4C394E;
    }

    &--end{
        background-color: #4D762D;
    }
    &--add:hover{
        background-color:#744978;
     }

    &--end:hover{
        background-color:#6DB236;
     } 
}
.badge-sale{
    position: absolute;
}
 .button-message{
    background-image: url(../images/chat_icon.png);
    background-size: cover;
    border: none;
    border-radius: 50%;
    z-index: 1;
    width: 64px;
    height: 64px;
    background-color: #10BBD5;
    position: fixed;
    top: 600px;
    left: 1360px;
 }

