.header-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;

 &--background{
   background-color: #fff;
 }
 &--subtitle{
   color: #000;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px; /* 150% */
   margin: 0;
 }
 &__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
 
 &--menu{
   padding-left: 0;
   margin: 0;
    display: flex;
    align-items: center;
    gap: 40px;
 }
 &--link{
   color: #000;
font-size: 16px;
font-weight: 400;
line-height: 24px; /* 150% */
 }
}

}
