.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;

    &__logo {
        display: flex;
        gap: 4px;
        align-items: center;

        &--subtitle {
            color: #F8FDFE;
            font-size: 24px;
            font-weight: 700;
            line-height: normal;
            margin-top: 0;
            margin-bottom: 0;

        }
    }

    &__cart {
        display: flex;
        align-items: center;

        &--balance {
            color: #F8FDFE;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 8px;
        }

        &--icon {
            background-image: url(../images/cart.svg);
            background-color: #10BBD5;
            width: 34px;
            z-index: 1;
            height: 34px;
            background-size: cover;
            cursor: pointer;
            border: none;
            outline: none;
       
        }


    }
}

.header_menu{
    padding: 0;
    z-index: 1;
    background-color: #10BBD5;
    height: 72px;
    position: fixed;
    width: 100%;
    
}
