.footer-menu{
    background-color: #4C394E;


    &__copyright{
        height: 88px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--text{
            color: #F8FDFE;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        }
    }
}
